.advantage{
    background-color: #F2F5FE;
    padding: 60px 0;
    .advantage-item{
        width: 380px;
    }
    .advantage-image{
        width: 200px;
        height: 200px;
    }
    .line-1{
        width: 250px;
    }
}